<!-- Nota: no se usa la clase form-group, en este caso solo es para identificar un grupo de formularios, no produce ningun cambio
 quitarlo -->
<div class="flex flex-col items-center py-3">
  <span class="font-semibold text-2xl font-sans">{{titulo}}</span>
  <form class="mt-5 w-10/12" [formGroup]="planForm" (ngSubmit)="ingresar()">
    <div class="form-group w-full">
      <p class="font-semibold font-sans">NOMBRE DEL PLAN DE ACCIÓN</p>
      <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
        <mat-label>Ingrese el nombre del plan</mat-label>
        <input type="text" matInput formControlName="nombre" [errorStateMatcher]="matcher">
        <mat-error *ngIf="planForm.controls['nombre'].hasError('required')">
          El nombre del plan es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group w-full">
      <p class="font-semibold font-sans">RESPONSABLE DEL PLAN DE ACCIÓN</p>
      <mat-form-field appearance="outline" class="w-6/12" hideRequiredMarker="true" color="primary">
        <mat-label>Ingrese responsable</mat-label>
        <input #input type="text" matInput formControlName="responsable_plan" [errorStateMatcher]="matcher" [matAutocomplete]="auto"
        (input)="filter()"
        (focus)="filter()">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
            {{user.nombre}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="planForm.controls['responsable_plan'].hasError('required')">
          El nombre del responsable es <strong>requerido</strong>
        </mat-error>
        <mat-error *ngIf="planForm.get('responsable_plan')?.hasError('invalidUser')">
          El valor ingresado no es un usuario válido.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <p class="font-semibold font-sans">OBJETIVO ESTRATÉGICO</p>
      <div class="flex flex-row gap-7">
        <div class="w-1/12">
          <p class="font-semibold font-sans text-xs">CÓDIGO</p>
          <div>
            <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
              <mat-label>Cod</mat-label>
              <mat-select formControlName="codigo_obj" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let objetivo of objetivos" [value]="objetivo.cod_obj">
                  {{objetivo.cod_obj}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="w-11/12">
          <p class="font-semibold font-sans text-xs">OBJETIVO</p>
          <div>
            <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
              <mat-label>Objetivo</mat-label>
              <mat-select formControlName="objetivo" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let objetivo of objetivos" [value]="objetivo.nombre_obj">
                  {{objetivo.nombre_obj}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="planForm.controls['objetivo'].hasError('required')">
                El objetivo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <p class="font-semibold font-sans">INDICADORES DE CUMPLIMIENTO</p>
    <div *ngIf="!editing" class="flex flex-row gap-5">
      <div class="w-4/12">
        <p class="font-semibold font-sans text-xs">Indicador de cumplimiento</p>
        <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
          <mat-label>Ingrese indicador de cumplimiento</mat-label>
          <textarea cdkTextareaAutosize type="text" matInput formControlName="indicador_plan" [errorStateMatcher]="matcher" maxLength="{{MAXLENGTH_ACT_IND}}"></textarea>
          <mat-error *ngIf="planForm.controls['indicador_plan'].hasError('required')">
            El indicador de cumplimiento es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-2/12">
        <p class="font-semibold font-sans text-xs">Fórmula de cálculo</p>
        <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
          <mat-label>Ingrese fórmula</mat-label>
          <textarea cdkTextareaAutosize type="text" matInput formControlName="formula" [errorStateMatcher]="matcher" maxLength="400"></textarea>
          <mat-error *ngIf="planForm.controls['formula'].hasError('required')">
            La fórmula es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-2/12">
        <p class="font-semibold font-sans text-xs">Meta/Plazo</p>
        <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
          <mat-label>Ingrese meta/plazo</mat-label>
          <textarea cdkTextareaAutosize type="text" matInput formControlName="meta" [errorStateMatcher]="matcher"></textarea>
          <mat-error *ngIf="planForm.controls['meta'].hasError('required')">
            La meta o plazo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-2/12">
        <p class="font-semibold font-sans text-xs">Fecha de Inicio</p>
        <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput [matDatepicker]="pickerinind" formControlName="ini_ind" [errorStateMatcher]="matcher">
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerinind"></mat-datepicker-toggle>
          <mat-datepicker #pickerinind></mat-datepicker>
          <mat-error *ngIf="planForm.controls['ini_ind'].hasError('required')">
            La fecha de inicio es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-2/12">
        <p class="font-semibold font-sans text-xs">Fecha de Fin</p>
        <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
          <mat-label>Fecha Fin</mat-label>
          <input matInput [matDatepicker]="pickerfinind" formControlName="fin_ind" [errorStateMatcher]="matcher">
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerfinind"></mat-datepicker-toggle>
          <mat-datepicker #pickerfinind></mat-datepicker>
          <mat-error *ngIf="planForm.controls['fin_ind'].hasError('required')">
            La fecha de fin es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <ng-container formArrayName="indicadores">
      <ng-container *ngFor="let indicadorForm of indicadores.controls; let i = index">
        <div class="lesson-form-row" [formGroup]="indicadorForm">
          <div class="flex flex-row gap-5">
            <div class="w-4/12">
              <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
                <mat-label>Ingrese indicador de cumplimiento</mat-label>
                <textarea cdkTextareaAutosize type="text" matInput formControlName="dindicador_plan" [errorStateMatcher]="matcher" maxLength="{{MAXLENGTH_ACT_IND}}"></textarea>
                <mat-error *ngIf="indicadorForm.controls['dindicador_plan'].hasError('required')">
                  El indicador de cumplimiento es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-2/12">
              <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
                <mat-label>Ingrese fórmula</mat-label>
                <textarea cdkTextareaAutosize type="text" matInput formControlName="dformula" [errorStateMatcher]="matcher" maxLength="400"></textarea>
                <mat-error *ngIf="indicadorForm.controls['dformula'].hasError('required')">
                  La fórmula es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-2/12">
              <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
                <mat-label>Ingrese meta/plazo</mat-label>
                <textarea cdkTextareaAutosize type="text" matInput formControlName="dmeta" [errorStateMatcher]="matcher"></textarea>
                <mat-error *ngIf="indicadorForm.controls['dmeta'].hasError('required')">
                  La meta/plazo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-4/12 mr-5 flex flex-row gap-5">
              <div class="w-5/12">
                <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
                  <mat-label>Fecha Inicio</mat-label>
                  <input matInput [matDatepicker]="pickerinind" formControlName="dini_ind" [errorStateMatcher]="matcher">
                  <mat-hint>DD/MM/AAAA</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="pickerinind"></mat-datepicker-toggle>
                  <mat-datepicker #pickerinind></mat-datepicker>
                  <mat-error *ngIf="indicadorForm.controls['dini_ind'].hasError('required')">
                    La fecha de inicio es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="w-5/12">
                <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
                  <mat-label>Fecha Fin</mat-label>
                  <input matInput [matDatepicker]="pickerfinind" formControlName="dfin_ind" [errorStateMatcher]="matcher">
                  <mat-hint>DD/MM/AAAA</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="pickerfinind"></mat-datepicker-toggle>
                  <mat-datepicker #pickerfinind></mat-datepicker>
                  <mat-error *ngIf="indicadorForm.controls['dfin_ind'].hasError('required')">
                    La fecha de fin es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="w-2/12">
                <mat-icon *ngIf="!editing" class="delete-btn cursor-pointer" color="warn" (click)="eliminarIndicador(i)" matTooltip="Eliminar Indicador">delete_forever</mat-icon>
                <mat-icon *ngIf="editing" class="delete-btn cursor-pointer" color="warn" matTooltip="Eliminar Indicador"
                (click)="eliminarIndicador(i, indicadorForm.controls['ind_plan_id'].value)" >delete_forever</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <button mat-flat-button color="primary" (click)="agregarIndicador()" class="mb-8" type="button">AGREGAR INDICADOR</button>
    <p class="font-semibold font-sans">PRINCIPALES ACTIVIDADES</p>
    <div *ngIf="!editing" class="flex flex-row gap-5">
      <div class="w-4/12">
        <p class="font-semibold font-sans text-xs">Actividad</p>
        <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
          <mat-label>Ingrese nombre de actividad</mat-label>
          <textarea cdkTextareaAutosize type="text" matInput formControlName="actividad" [errorStateMatcher]="matcher" maxLength="{{MAXLENGTH_ACT_IND}}"></textarea>
          <mat-error *ngIf="planForm.controls['actividad'].hasError('required')">
            El nombre de actividad es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-2/12">
        <p class="font-semibold font-sans text-xs">Responsable</p>
        <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
          <mat-label>Ingrese responsable</mat-label>
          <textarea cdkTextareaAutosize type="text" matInput formControlName="responsable" [errorStateMatcher]="matcher"></textarea>
          <mat-error *ngIf="planForm.controls['responsable'].hasError('required')">
            El responsable es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-2/12">
        <p class="font-semibold font-sans text-xs">Plazo</p>
        <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
          <mat-label>Ingrese plazo</mat-label>
          <textarea cdkTextareaAutosize type="text" matInput formControlName="plazo" [errorStateMatcher]="matcher"></textarea>
          <mat-error *ngIf="planForm.controls['plazo'].hasError('required')">
            El plazo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-2/12">
        <p class="font-semibold font-sans text-xs">Fecha de Inicio</p>
        <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput [matDatepicker]="pickerinact" formControlName="ini_act" [errorStateMatcher]="matcher">
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerinact"></mat-datepicker-toggle>
          <mat-datepicker #pickerinact></mat-datepicker>
          <mat-error *ngIf="planForm.controls['ini_act'].hasError('required')">
            La fecha de inicio es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-2/12">
        <p class="font-semibold font-sans text-xs">Fecha de Fin</p>
        <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
          <mat-label>Fecha Fin</mat-label>
          <input matInput [matDatepicker]="pickerfinact" formControlName="fin_act" [errorStateMatcher]="matcher">
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerfinact"></mat-datepicker-toggle>
          <mat-datepicker #pickerfinact></mat-datepicker>
          <mat-error *ngIf="planForm.controls['fin_act'].hasError('required')">
            La fecha de fin es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <ng-container formArrayName="actividades">
      <ng-container *ngFor="let actividadForm of actividades.controls; let j = index">
        <div class="lesson-form-row" [formGroup]="actividadForm">
          <div class="flex flex-row gap-5">
            <div class="w-4/12">
              <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
                <mat-label>Ingrese nombre de actividad</mat-label>
                <textarea cdkTextareaAutosize type="text" matInput formControlName="dactividad" [errorStateMatcher]="matcher" maxLength="{{MAXLENGTH_ACT_IND}}"></textarea>
                <mat-error *ngIf="actividadForm.controls['dactividad'].hasError('required')">
                  El nombre de actividad es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-2/12">
              <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
                <mat-label>Ingrese responsable</mat-label>
                <textarea cdkTextareaAutosize type="text" matInput formControlName="dresponsable" [errorStateMatcher]="matcher"></textarea>
                <mat-error *ngIf="actividadForm.controls['dresponsable'].hasError('required')">
                  El responsable es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-2/12">
              <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
                <mat-label>Ingrese plazo</mat-label>
                <textarea cdkTextareaAutosize type="text" matInput formControlName="dplazo" [errorStateMatcher]="matcher"></textarea>
                <mat-error *ngIf="actividadForm.controls['dplazo'].hasError('required')">
                  El plazo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-4/12 mr-5 flex flex-row gap-5">
              <div class="w-5/12">
                <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
                  <mat-label>Fecha Inicio</mat-label>
                  <input matInput [matDatepicker]="pickerinind" formControlName="dini_act" [errorStateMatcher]="matcher">
                  <mat-hint>DD/MM/AAAA</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="pickerinind"></mat-datepicker-toggle>
                  <mat-datepicker #pickerinind></mat-datepicker>
                  <mat-error *ngIf="actividadForm.controls['dini_act'].hasError('required')">
                    La fecha de inicio es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="w-5/12">
                <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
                  <mat-label>Fecha Fin</mat-label>
                  <input matInput [matDatepicker]="pickerfinind" formControlName="dfin_act" [errorStateMatcher]="matcher">
                  <mat-hint>DD/MM/AAAA</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="pickerfinind"></mat-datepicker-toggle>
                  <mat-datepicker #pickerfinind></mat-datepicker>
                  <mat-error *ngIf="actividadForm.controls['dfin_act'].hasError('required')">
                    La fecha de fin es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="w-2/12">
                <mat-icon *ngIf="!editing" class="delete-btn cursor-pointer" color="warn" (click)="eliminarActividad(j)" matTooltip="Eliminar Actividad">delete_forever</mat-icon>
                <mat-icon *ngIf="editing" class="delete-btn cursor-pointer" color="warn" matTooltip="Eliminar Actividad"
                 (click)="eliminarActividad(j, actividadForm.controls['act_id'].value)">delete_forever</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <button mat-flat-button color="primary" (click)="agregarActividad()" class="mb-8" type="button">AGREGAR ACTIVIDAD</button>
    <div class="form-group">
      <p class="font-semibold font-sans">OBSERVACIONES</p>
      <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
        <mat-label>Ingrese Observaciones</mat-label>
        <textarea cdkTextareaAutosize type="text" matInput formControlName="observaciones" [errorStateMatcher]="matcher"></textarea>
      </mat-form-field>
    </div>
    <div class="flex justify-center gap-3">
      <button mat-flat-button color="primary" class="mb-3" type="submit" [disabled]="!planForm.valid">GUARDAR PLAN DE ACCIÓN</button>
      <button *ngIf="!id" mat-flat-button color="warn"  class="mb-3" type="button" routerLink="/mapa-estrategico">CANCELAR</button>
      <button *ngIf="id && !editing" mat-flat-button color="warn"  class="mb-3" type="button" routerLink="/objetivo/{{id_obj}}">CANCELAR</button>
      <button *ngIf="id && editing" mat-flat-button color="warn"  class="mb-3" type="button" routerLink="/objetivo/{{objId}}">CANCELAR</button>
    </div>
  </form>
</div>