<nav id="head" class="navbar p-0 w-full flex justify-between items-center fixed">
    <div class="flex" >
    <img [src]="logo" alt="logo" class="h-14 mx-10 my-2"/>
    <ul class="list-none sm:flex gap-5 items-center">
      <li class="text-white">
        <a class="no-underline visited:text-white" [routerLink]="['/mapa-estrategico']">Mapa Estrategico</a>
      </li>
      <li class="text-white">
        <a *ngIf="isLoggedAdmin" class="no-underline visited:text-white" [routerLink]="['/crear-usuario']">Gestión de Usuarios</a>
      </li>
      <li class="text-white">
        <a class="no-underline visited:text-white" [routerLink]="['/mapa-estrategico']">Planes Asignados</a>
      </li>
    </ul>
    </div>
    <div class="mx-10 text-white cursor-pointer" (click)="cerrarSesion()">
      Cerrar Sesión
    </div>
</nav>

