<nav id="head" class="navbar p-0 w-full flex justify-between items-center fixed">
    <div class="flex" >
    <img [src]="logo" alt="logo" class="h-14 mx-10 my-2"/>
    <ul class="list-none sm:flex gap-5 items-center">
      <li class="text-white">
        <a class="no-underline visited:text-white" [routerLink]="['/mapa-estrategico']">Mapa Estrategico</a>
      </li>
      <li class="text-white">
        <a *ngIf="isLoggedAdmin" class="no-underline visited:text-white" [routerLink]="['/gestion-usuarios']">Gestión de Usuarios</a>
      </li>
      <li class="text-white">
        <a class="no-underline visited:text-white" [routerLink]="['/planes-asignados']">Planes Asignados</a>
      </li>
    </ul>
    </div>
    <div class="mx-10 text-white flex gap-2 items-center">
      <div class="flex cursor-pointer" [matMenuTriggerFor]="menu">
        <mat-icon>
          person
        </mat-icon>
        {{user}}
      </div>
      <mat-icon class="cursor-pointer ml-1" (click)="cerrarSesion()" aria-label="Cerrar Sesión" matTooltip="Cerrar Sesión">
        logout
      </mat-icon>
      <mat-menu #menu="matMenu">
        <div mat-menu-item class="flex items-center" (click)="abrirCambiarContra()">
          <mat-icon>
            key
          </mat-icon>
          <span class="flex items-center text-sm">Cambiar Contraseña</span>
        </div>
        <div mat-menu-item class="flex items-center" (click)="cerrarSesion()">
          <mat-icon>
            logout
          </mat-icon>
          <span class="flex items-center text-sm">Cerrar Sesión</span>
        </div>
      </mat-menu>
    </div>
</nav>

