<div *ngIf="!actividad" class="flex flex-col mt-20 items-center">
  <p>No se encontró información</p>
</div>
<div *ngIf="actividad" class="flex flex-col mt-10">
  <div class="flex">
    <button mat-icon-button class="mx-2" routerLink="/plan/{{actividad.plan?.plan_id}}">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="flex flex-col">
      <div class="font-semibold">Descripción de Actividad</div>
      <p class="whitespace-pre-wrap break-words">{{actividad.desc_act}}</p>
    </div>
  </div>
  <div class="flex flex-col mx-16">
    <p class="font-semibold">Responsable</p>
  <p>{{actividad.responsable}}</p>
  <div class="flex gap-10">
    <div>
      <p class="font-semibold">Plazo</p>
      <p>{{actividad.plazo}}</p>
    </div>
    <div>
      <p class="font-semibold">Fecha Límite</p>
      <p>{{actividad.fecha_fin | date}}</p>
    </div>
    <div>
      <div class="flex gap-2">
        <p class="font-semibold">Estado</p>
        <mat-icon *ngIf="isLoggedAdmin || isOwner" class="text-white hover:text-black/55 text-base cursor-pointer" (click)="editStat()">edit</mat-icon>
      </div>
      <p *ngIf="!editingStat">{{actividad.estado! | percent}}</p>
      <div *ngIf="editingStat" class="flex gap-2">
        <form [formGroup]="formActividad">
          <mat-form-field appearance="outline" class="w-full" hideRequiredMarker="true" color="primary">
            <input type="text" matInput formControlName="estado">
          </mat-form-field>
          <mat-error *ngIf="formActividad.controls['estado'].hasError('required')">
            El estado es <strong>requerido</strong>
          </mat-error>
        </form>
        <div class="flex gap-1">
          <mat-icon *ngIf="!fetching" class="text-[#4B77D1]" (click)="saveStat()">save</mat-icon>
          <mat-icon *ngIf="!fetching" class="text-[#EA4335]" (click)="cancelStat()">cancel</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between">
    <p class="font-semibold">Avances</p>
    <button *ngIf="(isOwner || isLoggedAdmin) && !isCompleted" mat-flat-button color="primary" class="mb-3" aria-label="Crear Avance" 
    routerLink="/crear-avance/{{id}}">
      Crear Avance
    </button>
  </div>
  <div class="flex flex-col items-center">
    <div class="w-[100%] mb-10">
      <table mat-table [dataSource]="avances!" class="mat-elevation-z8">
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre Avance</th>
          <td mat-cell *matCellDef="let avance"> {{avance.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="Resumen">
          <th mat-header-cell *matHeaderCellDef> Resumen </th>
          <td mat-cell *matCellDef="let avance" class="whitespace-pre-wrap break-words"> <p>{{avance.resumen}}</p> </td>
        </ng-container>
        <ng-container matColumnDef="Fecha de Creación">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let avance"> {{avance.createdAt | date}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let avance">
            <div class="flex items-center gap-3">
              <a [routerLink]="['/ver-avance/' + avance.avance_id]">
                <i class="fa-solid fa-eye text-[#4B77D1]"></i>
              </a>
              <mat-icon *ngIf="(isOwner || isLoggedAdmin) && !isCompleted" class="delete-btn cursor-pointer text-yellow-400" 
              routerLink="/editar-avance/{{avance.avance_id}}">
                edit
              </mat-icon>
              <mat-icon *ngIf="(isOwner || isLoggedAdmin) && !isCompleted" class="delete-btn cursor-pointer" color="warn" 
              (click)="eliminarAvance(avance.avance_id, avance.nombre)">
                delete_forever
              </mat-icon>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>  
    </div>
    <!-- <button *ngIf="isOwner || isLoggedAdmin" mat-mini-fab color="primary" class="my-10" aria-label="Crear Avance" routerLink="/crear-avance/{{id}}">
      <mat-icon>add</mat-icon>
    </button> -->
  </div>
  </div>
</div>
