<div *ngIf="!objetivo" class="flex flex-col mt-20 items-center">
  <p>No se encontró información</p>
</div>
<div *ngIf="objetivo" class="flex flex-col py-10 gap-2">
  <div>
    <button mat-icon-button class="mx-2" routerLink="/mapa-estrategico">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span class="font-bold text-3xl font-sans text-green-600">{{titulo}}</span>
  </div>

  <div class="my-5 mx-16">{{objetivo.nombre_obj}}</div>
  <!-- <div class="flex mt-8">
    <div class="w-7/12">
      <p class="font-semibold text-xl">Planes de Acción Estratégicos</p>
      <div *ngFor="let plan of objetivo?.planes; let j = index" class="my-1 py-8 px-4 border-solid border border-black">
        {{j+1}}. {{plan.nombre_plan}}
      </div>
    </div>
    <div class="w-3/12 text-center">
      <p class="font-semibold text-xl">Responsable</p>
      <div *ngFor="let plan of objetivo?.planes" class="my-1 py-8 border-solid border border-black">
        {{plan.responsable.nombre}}
      </div>
    </div>
  </div> -->
  <!-- Prueba -->
  <div class="flex mt-8 mx-16">
    <p class="font-semibold text-xl w-7/12">Planes de Acción Estratégicos</p>
    <p class="font-semibold text-xl w-3/12 text-center">Responsable</p>
  </div>
  <div *ngFor="let plan of objetivo?.planes; let j = index" class="flex mx-16" routerLink="/plan/{{plan.plan_id}}">
    <div class="w-7/12 my-0 py-8 px-4 border-solid border border-black cursor-pointer">
      {{j+1}}. {{plan.nombre_plan}}
    </div>
    <div class="flex items-center justify-center w-3/12 my-0 py-8 border-solid border border-black cursor-pointer">
      {{plan.responsable.nombre}}
    </div>
  </div>
  <div *ngIf="isLoggedAdmin" class="w-10/12 text-center mx-16">
    <button mat-mini-fab color="primary" aria-label="Crear Plan" routerLink="/crear-plan">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
