<div class="flex flex-col py-10 px-16 gap-2">
  <span class="font-bold text-3xl font-sans text-green-600">{{titulo}}</span>
  <div class="my-5">{{objetivo?.nombre_obj}}</div>
  <!-- <div class="flex mt-8">
    <div class="w-7/12">
      <p class="font-semibold text-xl">Planes de Acción Estratégicos</p>
      <div *ngFor="let plan of objetivo?.planes; let j = index" class="my-1 py-8 px-4 border-solid border border-black">
        {{j+1}}. {{plan.nombre_plan}}
      </div>
    </div>
    <div class="w-3/12 text-center">
      <p class="font-semibold text-xl">Responsable</p>
      <div *ngFor="let plan of objetivo?.planes" class="my-1 py-8 border-solid border border-black">
        {{plan.responsable.nombre}}
      </div>
    </div>
  </div> -->
  <!-- Prueba -->
  <div class="flex mt-8">
    <p class="font-semibold text-xl w-7/12">Planes de Acción Estratégicos</p>
    <p class="font-semibold text-xl w-3/12 text-center">Responsable</p>
  </div>
  <div *ngFor="let plan of objetivo?.planes; let j = index" class="flex">
    <div class="w-7/12 my-0 py-8 px-4 border-solid border border-black">
      {{j+1}}. {{plan.nombre_plan}}
    </div>
    <div class="w-3/12 my-0 py-8 border-solid border border-black text-center">
      {{plan.responsable.nombre}}
    </div>
  </div>
  <div class="w-10/12 text-center">
    <button mat-mini-fab color="primary" aria-label="Crear Plan" routerLink="/crear-plan">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
