<div class="flex flex-col py-6 px-12 gap-2">
  <span class="font-bold text-3xl font-sans">{{title}}</span>
  <div *ngIf="thereIsNoMap" class="py-5">
    <p>{{lbMapa}}</p>
  </div>
  <div class="flex mt-10">
    <div class="text-xs w-2/12" *ngFor="let eje of mapa">
      <div class="flex flex-col justify-center border rounded mx-2 py-2 mb-4 bg-black/40 text-white h-1/4">
        <p class="text-center">EJE {{eje.numero_eje}}</p>
        <div class="flex flex-wrap px-8 text-center">{{eje.nombre_eje}}</div>
      </div>
      <a *ngFor="let obj of eje.objetivos" class="border rounded mx-2 my-2 py-2 px-2 h-1/4 text-[10px] flex 
      items-center bg-black/10" routerLink="/objetivo/{{obj.obj_id}}">
        <div class="w-2/12 mr-2 bg-[#4B77D1] text-center text-white">
          {{obj.cod_obj}}
        </div>
        <div class="w-10/12 font-normal tracking-normal leading-none">
          {{obj.nombre_obj}}
        </div>
      </a>
    </div>
  </div>
</div>
