<div *ngIf="!avance" class="flex flex-col mt-20 items-center">
  <p>No se encontró información</p>
</div>
<div *ngIf="avance" class="flex flex-col mt-10">
  <div class="flex">
    <button mat-icon-button class="mx-2" routerLink="/actividad/{{avance.act_id}}">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="flex flex-col mx-4">
      <span class="font-semibold">Nombre de Avance</span>
      <p>{{avance.nombre}}</p>
    </div>
  </div>
  <div class="flex flex-col mx-20 whitespace-pre-wrap break-words">
    <p class="font-semibold">Descripción</p>
    <p class="">{{avance.descripcion}}</p>
    <div *ngIf="avance.archivos && avance.archivos.length > 0">
      <p class="font-semibold">Archivos</p>
      <div *ngFor="let archivo of avance.archivos">
        <p>{{archivo.nombre}}</p>
        <button mat-flat-button color="primary" class="mb-3" aria-label="Descargar Archivo" (click)="descargarArchivo(archivo.nombre, archivo.archivo_id)">
          Descargar Archivo
        </button>
      </div>
    </div>
  </div>
</div>
