<div class="flex justify-center mt-5 mb-9">
  <mat-card appearance="outlined" class="text-center w-2/4">
    <mat-card-content class="">
      <span class="font-bold text-2xl">{{titulo}}</span>
      <form class="mt-5" [formGroup]="avanceForm" (ngSubmit)="ingresar()">
          <div class="mb-3">
              <div class="form-group sm:justify-center">
                  <!-- <span><i class="fa-solid fa-user text-4xl px-5"></i></span> -->
                  <mat-form-field appearance="outline" class="w-9/12" hideRequiredMarker="true" color="primary">
                      <mat-label>Nombre de Avance</mat-label>
                      <input type="text" matInput formControlName="nombre" [errorStateMatcher]="matcher">
                      <mat-error *ngIf="avanceForm.controls['nombre'].hasError('required')">
                          El nombre es <strong>requerido</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <div class="mb-3">
              <div class="form-group sm:justify-center">
                  <!-- <span><i class="fa-regular fa-envelope text-4xl px-5"></i></span> -->
                  <mat-form-field appearance="outline" class="w-9/12" hideRequiredMarker="true" color="primary">
                      <mat-label>Descripción</mat-label>
                      <textarea cdkTextareaAutosize type="text" matInput formControlName="descripcion" [errorStateMatcher]="matcher"></textarea>
                      <mat-error *ngIf="avanceForm.controls['descripcion'].hasError('required')">
                          La descripción es <strong>requerida</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <div class="mb-3">
            <div class="form-group sm:justify-center">
              <input type="file" (change)="getFile($event)" multiple>
            </div>
          </div>
          <div *ngIf="files.length > 1" class="mb-3">
            <div class="form-group sm:justify-center">
              <div *ngFor="let file of files">
                <span>{{file.name}}</span>
              </div>
            </div>
          </div>
          <div class="mt-10 flex justify-center gap-4">
            <button mat-flat-button color="primary" class="mb-3" type="submit" [disabled]="!avanceForm.valid">Guardar</button>
            <button mat-flat-button color="warn" class="mb-3" routerLink="/actividad/{{idActividad}}">Cancelar</button>
          </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
